h1, p{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
    display: flex;
	align-items: center;
}
.table{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 5px;
}